<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not Found</title>
</head>
<style>
    body{
        align-items: center;
        text-align: center;
    }
    .heading{
        font-size: xx-large;
        font-weight: bolder;
        margin-top:10px ;
    }

    .line{
        max-width: 300px;
        margin: auto;
        margin-top: 10px;
        font-size: larger;
    }
    .rec{
        padding: 20px;
        border: 3px solid black;
        object-fit: contain;
        
        margin: auto;
        margin-top: 250px;
        max-width: 320px;
    }
</style>
<body>
    <div class = "rec">
        <div class = "heading">
            NOT FOUND
        </div>
        
        <div class = "line">
            Sorry we could not find a confident match. We'll try our best to improve our system.
        </div>
    </div>

</body>
</html>